@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.container {
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: azure;
    
  
}

#display {
    margin-left: 60px;
    margin-top: 200px;
    font-family: 'Roboto', sans-serif;
    font-size: 6em;
}

.punctuation {
    text-align: center;
}