<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cronometro</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
   
    <div class="container">
        <div class="btns">
            <img src="../icons/play-fill.svg" onclick="start()">
            <img src="../icons/arrow-repeat.svg" onclick="restart()">
            <img src="../icons/award-fill.svg">
        </div>

        <div id="display">
            <span>00:00:00</span>
        </div>
    </div>
    
    <script src="../static/js/script.js"></script>
</body>

</html>