<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cronometro</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
   
    <div class="container">
        <div class="btns">
            <i onclick="start()" id="start">
                <img src="../icons/play-fill.svg">
            </i>

            <i onclick="restart()" id="restart"> 
                <img src="../icons/arrow-repeat.svg">
            </i>
            
            <i onclick="bestTime()" id="bestTime">
                <img src="../icons/award-fill.svg">
            </i>
        </div>

        <div id="display">
            <span>00:00:00</span>
        </div>
        <div class="punctuation">
            <p></p>
        </div>
    </div>

    <script src="../static/js/script.js"></script>
</body>

</html>